/*אתחול ערכים וצבעים חשובים*/
:root {
  font-size: 22px;
  font-family: "Open Sans Hebrew", arial, sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  --mainBlueColor: #d4e6f2;
  --secondry-blue: #5b9fb3;
  --mainGrey: #a3a7a8;
}

body {
  direction: rtl;
  text-align: center;
  margin: 0;
  padding: 0;
}

/*Main Pictrue + Wirting*/
.divPicture {
  position: relative;
  display: flex;
  justify-content: center;
  color: white;
  background-image: url("pictures/office.jpg");
  min-height: 97vh;
  width: 100vw;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.divContent {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: auto;
  top: 1rem;
  padding: 100px 50px;
}
.divContent h2 {
  position: relative;
  color: var(--mainBlueColor);
  font-size: 3rem;
  font-weight: bolder;
  line-height: 60px;
  margin: 10px 0 20px;
  text-shadow: 0.5px 0.5px 0 #000;
}
.divContent p {
  font-size: 1.25rem;
  font-weight: normal;
  line-height: 60px;
  margin: 10px 0 20px;
  text-shadow: 0.5px 0.5px 0 #000;
  margin-top: 10px;
  height: 100px;
}

/*About Us*/
.divAboutUs {
  position: relative;
  height: 20rem;
  padding: 5rem;
  overflow: hidden;
}

.container {
  position: relative;
  text-align: center;
}

.h2headers {
  font-size: 2rem;
  line-height: 32px;
  color: black;
}

.flex-about {
  display: flex;
  padding: 1rem;
}

.divNadavPicture img {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*Services*/
.divServices {
  padding: 2.5rem;
  background: linear-gradient(to right bottom, white, #f3f3f3);
}

/*Cards for Serivces*/
.grid {
  padding: 2rem;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.flip-card {
  border-style: hidden;
  background-color: transparent;
  width: 30vw;
  height: 7.5rem;
  perspective: 1000px;

  cursor: pointer;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  border-radius: 0.25rem;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-inner.is-flipped {
  transform: rotateY(-180deg);
}

.flip-card:hover .flip-card-inner i {
  color: var(--secondry-blue);
}

.flip-card:hover .flip-card-inner {
  box-shadow: 0 2px 11px rgba(33, 33, 33, 0.4);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front i {
  transition: color 0.2s;
  padding: 10px;
}
.flip-card-front {
  background-color: var(--mainBlueColor);
}

.flip-card-back {
  background-color: var(--secondry-blue);
  font-size: 18px;
  color: white;
  transform: rotateY(-180deg);
}
/*Logo*/
.flex {
  display: flex;
  justify-content: center;
  height: auto;
  max-height: 100px;
}
.flex h2 {
  font-family: "Assistant", Arial, sans-serif;
  font-size: 1.75rem;
  line-height: 32px;
  color: black;
}
.flex p {
  font-family: "Assistant", Arial, sans-serif;
  position: absolute;
  top: 1.75rem;
  font-weight: lighter;
}
.logo {
  margin: 20px;
  position: relative;
  height: 100px;
  width: 100px;
  transform: rotate(-37deg);
}
.parallelogram:nth-child(3) {
  margin-right: 30px;
}
.parallelogram:first-child {
  margin-right: 20px;
  background-color: #a5c5e3;
}
.parallelogram {
  margin: 3px 0;
  width: 60px;
  height: 13px;
  transform: skew(-40deg);
  background: #a3a7a8;
}

/*Contect Us*/
.divContact {
  position: relative;
  height: 20rem;
  padding: 2.5rem;
}

.formclass {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
}
.formclass div {
  min-width: 300px;
  min-height: 50px;
}
label {
  float: right;
  margin-bottom: 15px;
}
input {
  float: left;
  border-radius: 0.2rem;
}
/*Footer*/
footer {
  position: relative;
  bottom: 0;
  font-size: 16px;
  height: 1rem;
  width: 100vw;
  background-color: var(--mainGrey);
  text-align: center;
}

footer a {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 760px) {
  .divParahAbout {
    max-width: 50%;
    position: relative;
  }
  .divNadavPicture {
    position: relative;
    margin-right: auto;
  }
}

/*Phones design*/
@media only screen and (max-width: 760px) {
  .icon {
    position: absolute;
    top: 0px;
    right: 10px;
    display: block;
  }
  nav {
    height: 0;
  }
  .navbar-nav.responsive {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50vw;
    height: 97vh;
    position: relative;
    z-index: 1;
    top: 0;
    right: 0;
    transition: 0.5s;
    overflow-x: hidden;
    text-align: center;
  }
  .navbar-item:last-of-type {
    margin-right: 0;
  }
  .dropdown {
    z-index: 0;
  }
  .dropdown-content {
    position: relative;
    display: none;
    transform: translateY(50px);
    transition: transform 150ms ease-in;
  }
  .dropdown > .navbar-link:focus + .dropdown-content {
    display: block;
    transform: translateY(0px);
  }
  .grid {
    grid-template-columns: auto auto;
  }
  .divAboutUs {
    top: 2rem;
    position: relative;
    width: calc(100vw - 40px);
    height: 97vh;
    padding: 0px;
    z-index: 0;
    margin: 0px;
  }
  .flip-card {
    width: calc(47vw - 40px);
  }
  .divNadavPicture p {
    max-width: 100px;
    position: relative;
    justify-content: center;
  }
  .flex-about {
    flex-direction: column-reverse;
  }
  .divServices {
    padding: 0px;
  }
}

@keyframes example {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}
